*.pyc
*/__pycache__/*
__pycache__/*
*.simg
*.p
*/best_experience.p
*/experience.p
depend/depend/lib/__pycache__/attribution_extractor.cpython-38.pyc
utils/__pycache__/models.cpython-38.pyc
depend/depend/lib/__pycache__/attribution_extractor.cpython-38.pyc
 
.pyc
*.pyc
__pycache__/detector.cpython-38.pyc
*/__pycache__/*.pyc
__pycache__/*.pyc

trojai-example-cyber-network-c2-feb2024

model/